.App {
  text-align: center;
}


.task{
  /* position: relative;
  right: 20px; */
  display: inline-flex;
  border: 0.3px solid black;
  width: 22vw;
  justify-content: center;
  align-items: center;
}

.category{
  /* position: relative;
  left: 20px; */
  display: inline-flex;
  border: 0.3px solid black;
  width: 8vw;
  justify-content: center;
  align-items: center;
}

.date{
  display: inline-flex;
  border: 0.3px solid black;
  width: 4vw;
  justify-content: center;
  align-items: center;
}

.deleteButton{
  display: inline-flex;
  border: 0.3px solid black;
  width: 6vw;
  justify-content: center;
  align-items: center;
}

.submitForm{
  display: flex;
  position: relative;
  left: 30vw;
  justify-content: space-between;
  width: 40vw;
  margin-top: 50px;
}

.todoitem{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  width: 40vw;
  height: 40px;
  left: 30vw;
  border: 0.3px solid black;
}

h4{
  margin: 0;
}